.training-block {
	display: inline-block;
}

.training-block label {

}

.training-block label input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

.training-block label span {
	margin-left: 6px;
	position: relative;
	top: -4px;
}

.training--header-control {
	text-align: right;
	font-size: 15px;
	line-height: 18px;
}

.training--header-control button {
	padding: 4px 6px;
}
